.work-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work-wrap .work-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5vw;
  padding-right: 10vw;
}

.work-wrap .work-text .work-title {
  margin-bottom: 2px;
}

.work-wrap .work-text .work-subtitle {
  margin-bottom: 50%;
}

.work-wrap .work-text .work-desc {
  margin-bottom: 20%;
}

.work-wrap .work-text .work-info {
  opacity: 60%;
}

.work-wrap .work {
  width: 50%;
}
