// body, navbar and footer
* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url(/res/selfportraits/SELF-PORTRAIT5.jpg);
    background-position: top;
    background-size: 200%;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 90vh;
    padding-top: 40vh;
    justify-content: space-between;

    .menu-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: flex-start;
        padding-left: 0;
        margin-left: 25vw;

        .menu-link {
            line-height: 1.5em;
            text-decoration: none;
            color: white;
            opacity: 60%;
            transition: opacity 0.3s ease-out;
        }

        .menu-link:hover {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }

        .is-active {
            opacity: 1;
            font-weight: bold;
        }

    }

    .main-text {
        margin-right: 25vw;
        width: 15vw;
        font-weight: lighter;
        font-style: italic;
        text-align: justify;
        display: none;
    }

    .is-active {
        display: block;
    }
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    height: 10vh;
    font-size: small;
}

// utilities
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}