// body, navbar and footer

* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/res/selfportraits/SELF-PORTRAIT5.jpg);
    background-position: center;
    background-size: 160vw;
}


.menu {
    display: flex;
    flex-direction: row;
    height: 95vh;
    margin-top: 40vh;
    justify-content: space-between;
    font-weight: bold;

    .menu-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: flex-start;
        padding-left: 0;
        margin-left: 25vw;

        .menu-link {
            line-height: 1.5em;
            text-decoration: none;
            color: white;
            opacity: 60%;
            transition: opacity 0.3s ease-out;
        }

        .menu-link:hover {
            opacity: 1;
            transition: all 0.3s ease-in-out;
        }

    }

    p {
        margin-right: 25vw;
        width: 15vw;
        font-weight: lighter;
        font-style: italic;
        text-align: justify;
    }
}

footer {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: small;
}

// utilities
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}