// works page

#works-link {
    opacity: 1;
}

.page-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ol {
        list-style-type: none;
        padding: 0;
    }

    a {
        color: black;
        opacity: 60%;
        text-decoration: none;
        font-weight: bold;
        transition: opacity 0.3s ease-out;
    }

    a:hover {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

    }

    .category-list-wrap {
        min-height: 80vh; // ! SUS
        padding-left: 5vw;
        text-transform: uppercase;

        .category-list {

            .category-title {
                margin-top: 80px;
                margin-bottom: 20px;
            }
        }
    }
}