body {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20vh;
        padding-top: 10vh;

        .work-title {
            margin-left: 25vw;
        }

        .back-link {
            margin-right: 25vw;
        }
    }

    .work-wrap {
        display: flex;
        flex-direction: column;

        .work-text {
            width: 20vw;
            margin-left: 25vw;
            margin-right: 5vw;
            display: flex;
            flex-direction: column;

            .work-subtitle,
            .work-desc,
            .work-info {
                margin-bottom: 5vh;
            }

            .work-subtitle {
                font-weight: bold;
            }

            .work-info {
                opacity: 60%;
            }

        }

        .carousel {
            height: 90vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            align-items: center;

            .work {
                height: 100%;
            }
        }

        .carousel::-webkit-scrollbar {
            display: none;
        }

    }

}