body {
    background-color: black;
    background-image: none;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30vh;
        padding-top: 20vh;

        .work-title {
            margin-left: 25vw;
            text-transform: uppercase;
        }

        .back-link {
            margin-right: 25vw;
            text-transform: uppercase;
        }
    }

    .work-wrap {
        display: flex;
        flex-direction: column;
        text-align: justify;

        .work-text {
            width: 20vw;
            margin-left: 25vw;
            margin-right: 5vw;
            display: flex;
            flex-direction: column;

            .work-subtitle,
            .work-desc,
            .work-info {
                margin-bottom: 10vh;
            }

            .work-subtitle {
                font-weight: bold;
            }

            .work-info {
                opacity: 60%;
            }

        }

        .carousel {
            height: 90vh;
            width: 100%;
            padding-top: 4vh;
            padding-left: 32vw;
            padding-right: 31vw;
            display: flex;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            .work {
                margin-left: 2vw;
                margin-right: 2vw;
                width: 100%;
            }
        }

        .carousel::-webkit-scrollbar {
            display: none;
        }

    }

}