:root {
  --accent-color: rgb(255, 51, 0);
  --indent: 10vw;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: black;
}


.home-wrap,
.full-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.home-wrap {
  height: 100vh;
  color: white;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./works/res/self-portraits/selfportraitblue.webp);
  background-position: center;
  background-size: cover;
}

header.home-header {
  height: 90%;
  padding-left: var(--indent);
  padding-top: 35vh;
}


header.full-header {
  padding-top: 8vh;
  padding-left: var(--indent);
}

ul {
  list-style-type: none;
  display: flex;
  color: white;
  padding-left: 0;
}

@media screen and (max-width: 475px) {
  nav.full-nav ul {
    flex-wrap: wrap;
    line-height: 2em;
  }
}


nav ul li {
  margin-right: 1vw;
}

nav.home-nav ul li a,
nav.home-nav ul li a:active,
nav.home-nav ul li a:visited {
  color: white;
}

ul li a,
ul li a:active,
ul li a:visited {
  text-decoration: none;
  /* color: black; */
  color: white;
  transition: color 0.4s;
}

nav ul li a:hover,
nav.home-nav ul li a:hover {
  color: var(--accent-color);
}


h1.home-name {
  margin-top: 2vh;
  color: var(--accent-color);
}

footer {
  align-self: center;
  margin-top: auto;
  margin-bottom: 4vh;
  font-size: .8em;
}

/* works */
h1.page-title {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: var(--indent);
  color: var(--accent-color);
}

a.page-title {
  text-decoration: none;
  color: var(--accent-color);
}

a.page-title:hover {
  text-decoration: underline;
}

ul.works-list {
  /* color: black; */
  color: white;
  flex-direction: column;
  padding-left: var(--indent);
}

ul.works-list li {
  margin-bottom: 2vh;
  font-size: x-large;
}

ul.works-list li a {
  /* color: rgba(0, 0, 0, 0.5); */
  color: rgba(255, 255, 255, 0.5);
}

ul.works-list li a:hover {
  /* color: black; */
  color: white;
}

/* about */
p.about-text,
.work-desc {
  /* color: rgba(0, 0, 0, 0.5); */
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
  padding-left: var(--indent);
  text-align: justify;
  padding-right: var(--indent);
  width: 60vw;
  margin-bottom: 2vh;
  font-size: larger;
  line-height: 1.5em;
}

.work-desc {
  margin-bottom: 10vh;
}


@media screen and (max-width: 475px) {
  p.about-text {
    width: 100%;
  }

  p.about-text:last-child {
    margin-bottom: 10vh;
  }
}

/* contacts */
a.contact,
a.contact:active,
a.contact:visited {
  color: var(--accent-color);
  text-decoration: none;
}

a.contact:hover {
  text-decoration: underline;
}



/* self-portraits */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
  padding-left: var(--indent);
  padding-right: var(--indent);
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}

.gallery img {
  flex: 1 0 20%;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  object-fit: cover;
  object-position: center;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 2px;
}