* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;

    .menu-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;

        .menu-link {
            text-decoration: none;
            color: black;
            opacity: 60%;
            margin-right: 20px;
        }

    }

    #year {
        padding-right: 40px;
    }
}